#heroesList {
    display: inline-block;
    width: 100px;
}

#activeImageContainer {
    display: inline-block;
    width: 200px;
    margin-bottom: auto;
}

img {
    max-width: 100%;
    height: auto;
    margin: 5px 10px;
}